.miniature-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 20px;
  padding: 10px;
  margin-left: 10rem;
}

.miniature-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 200px;
  padding: 0.8rem;
  margin-bottom: 15px;
  background-image: url("https://www.transparenttextures.com/patterns/tileable-wood-colored.png");
  background-size: cover;
  background-repeat: repeat;
  border: 5px solid #8b4513;
  border-radius: 12px;
  box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.3);
}

.miniature-container img {
  width: 200px;
  height: 320px;
  object-fit: cover;
  border-radius: 5px;
}
