.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--dark);
  margin: 0;
  width: 100%;
  padding: 0.5rem;
}

.navbar-item {
  list-style-type: none;
  text-align: center;
  color: var(--offWhite);
  flex-grow: 1;
}

.navbar-link {
  text-decoration: none;
  font-family: "Cinzel", serif;
  letter-spacing: 1px;
  color: black;
  font-size: 2rem;
}

.navbar-link:visited,
.navbar-link:active {
  color: black;
}

.navbar-link:hover {
  color: var(--primary);
}

.navbar-logout {
  margin-left: 0;
}

@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    padding: 1rem;
  }

  .navbar-item {
    flex-basis: 100%;
    margin-bottom: 10px;
  }

  .navbar-link {
    font-size: 1.5rem;
  }
}

@media (max-width: 480px) {
  .navbar-link {
    font-size: 1.2rem;
  }
}
